._btn-common {
  @apply inline-flex cursor-pointer items-center justify-center whitespace-nowrap text-lg font-medium focus:outline-none focus:ring-0 focus:ring-offset-0;
}

.btn {
  @apply _btn-common w-auto rounded border-none bg-primary-600  px-1.5 py-1 text-white shadow-sm hover:bg-primary-700;
}

/* Colors */

.btn-light {
  @apply bg-white text-primary-600  hover:border-transparent hover:bg-tertiary-100;
}

.btn-secondary {
  @apply _btn-common  rounded border-solid border-primary-500 bg-white  px-1.5 py-0.5 text-primary-500 hover:border-transparent hover:bg-tertiary-300 hover:text-primary-1000;
}

.btn-danger {
  @apply rounded bg-danger-600 text-white hover:bg-danger-700 focus:ring-danger-500;
}

.btn-tertiary {
  @apply bg-tertiary-600 text-white hover:bg-tertiary-700 focus:ring-tertiary-500;
}

.btn-info {
  @apply bg-info-400 text-white hover:bg-info-600 focus:ring-info-500;
}

.btn-upgrade {
  @apply bg-upgrade-400 text-white hover:bg-upgrade-600 focus:ring-upgrade-500;
}

.btn-success {
  @apply bg-success-600 text-white shadow-sm hover:bg-success-700 focus:ring-success-500;
}

.btn-warning {
  @apply bg-warning-400 text-white shadow-sm hover:bg-warning-500 focus:ring-warning-500;
}

.btn-neutral {
  @apply _btn-common rounded bg-neutral-600  px-1.5 py-0.5 text-white shadow-sm hover:bg-neutral-700 focus:ring-neutral-500;
}

.btn-white {
  @apply _btn-common rounded border border-neutral-300 bg-white px-1.5 py-0.5 text-neutral-700 shadow-sm hover:bg-neutral-50;
}

/* Sizes */

.btn-big {
  @apply px-3 py-2 text-lg font-semibold leading-5;
}

.btn-small {
  @apply px-2 py-1 text-sm font-semibold leading-4;
}

/* Icons */

.icon {
  @apply -ml-0.5 mr-2 h-4 w-4;
}

.btn-icon {
  @apply _btn-common h-9 w-12 rounded bg-primary-600 leading-4 shadow-sm hover:bg-primary-700;
}

.btn-icon-small {
  @apply h-8 w-11  rounded-md leading-4 shadow-sm;
}

.btn-icon-tiny {
  @apply h-8 w-11  rounded leading-4 shadow-sm;
}

.btn-icon-big {
  @apply btn-icon;
}

.btn-icon-secondary {
  @apply rounded border  border-primary-500 bg-white text-primary-500 hover:bg-tertiary-400 hover:text-primary-700;
}

.btn-icon-light {
  @apply _btn-common rounded-md  border-none   bg-white p-1 leading-4 text-primary-700  shadow-sm hover:bg-tertiary-200;
}

.btn-disabled {
  @apply opacity-50 hover:cursor-not-allowed;
}

.btn-secondary-disabled {
  @apply border-gray-500 text-gray-500;
}
