/* .v-progress__body__colored {
  @apply block h-full relative overflow-hidden rounded-l-3xl bg-gradient-to-r from-primary-500 to-info-400
} */

.v-progress {
  background-color: #dde0e2;
  @apply relative;
}

.v-progress_full {
  @apply rounded-3xl;
}

.v-progress__badge {
  line-height: 14px;
  @apply z-10  rounded-lg px-1.5;
}

.v-progress__badge_current {
  @apply left-0.5 bg-white text-success-1000;
}

.v-progress__badge_total {
  @apply right-0.5 bg-gray-800 text-white;
}

.v-progress__badge_needed {
  @apply mr-1 bg-white text-gray-800;
}

.v-progress__body {
  @apply relative h-5 overflow-hidden rounded-3xl  bg-gray-200;
}

.v-progress__body__indicator {
  @apply absolute top-0 right-0 h-full w-1 bg-tertiary-500;
}

.v-progress__body__colored {
  @apply relative block h-full overflow-hidden rounded-l-3xl ;
  background: linear-gradient(269.1deg, rgba(53, 224, 152, 0.7) 0%, rgba(10, 100, 236, 0.7) 100%);
}

.test {
  background: repeating-linear-gradient(-45deg, #dde0e2 2px 0px, #abd9c5 4px 8px);
}
