/* .v-progress__body__colored {
  @apply block h-full relative overflow-hidden rounded-l-3xl bg-gradient-to-r from-primary-500 to-info-400
} */

.v-progress {
  background-color: #dde0e2;
  @apply relative z-10  flex  h-full w-full cursor-pointer items-center   rounded-3xl text-center text-white overflow-hidden;
}

.v-progress_full {
  @apply rounded-3xl;
}

.v-progress__numbers {
  @apply absolute z-10 flex h-full w-full items-center justify-between px-[0.15rem] text-xs space-x-1
}

.v-progress__numbers svg,
.v-progress__numbers img {
  @apply h-3 w-3;
}

.v-progress__badge {
  /* line-height: 14px; */
  @apply z-10  rounded-3xl px-1.5 flex items-center gap-1;
}

.v-progress__badge_current {
  @apply left-0.5 bg-white text-success-1000 truncate;
}

.v-progress__badge_total {
  @apply right-0.5 bg-gray-800 text-white truncate;
}

.v-progress__badge_needed {
  @apply mr-1 bg-white text-gray-800 truncate;
}

.v-progress__numbers-container {
  @apply flex items-center flex-nowrap overflow-hidden ;
}

.v-progress__body {
  @apply relative h-5 rounded-3xl  bg-gray-200 overflow-hidden;
}

.v-progress__body__indicator {
  @apply absolute top-0 right-0 h-full w-1 bg-tertiary-500;
}

.v-progress__body__colored {
  @apply relative block h-full rounded-l-3xl overflow-hidden;
  background: linear-gradient(269.1deg, rgba(53, 224, 152, 0.7) 0%, rgba(10, 100, 236, 0.7) 100%);
}

.v-progress__popover {
  @apply relative w-full h-5;
}

.v-progress__popover__btn {
  @apply w-full focus:outline-none
}

.v-progress__popover__panel {
  @apply absolute z-50 bg-primary-50 text-primary-600 p-5 rounded-lg top-[32px] text-sm font-normal border-primary-200 border grid gap-1
}

.v-progress__popover__triangle {
  @apply absolute  border-r-[10px] border-l-[10px] border-transparent border-b-[15px] border-b-primary-200 -top-4 left-8
}

.v-progress__popover__triangle:after {
  content: '';
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 14px solid;
  position: absolute;
  top: 2px;
  left: -9px;
  @apply border-b-primary-50;
}

.v-progress__popover__row {
  @apply flex justify-between gap-6;
}



.v-progress__popover__row__label {
  @apply text-sm  whitespace-nowrap
}

.v-progress__popover__row__value {
  @apply text-sm font-bold whitespace-nowrap
}
