.tooltip {
  @apply flex items-center justify-center;
}

.tooltip__box {
  @apply absolute p-4 pointer-events-none rounded-lg bg-white shadow-2xl -z-10 opacity-0 transition-all duration-300 box-border flex text-black;
}

.tooltip[data-placement="top"] .tooltip__box {
  @apply bottom-7;
  transform: translateX(-50%);
  margin-left: 50%;
}

.tooltip[data-placement="top"] .tooltip__box::before {
  content: "";
  position: absolute;
  transform: translate(-50%, 6px);
  left: 50%;
  bottom: 0;;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-top: 7px solid white;
}

.tooltip[data-placement="right"] .tooltip__box {
  @apply left-[100%] -top-4 ml-1
}

.tooltip[data-placement="right"] .tooltip__box::before {
  content: "";
  position: absolute;
  transform: translateY(4px);
  left: -6px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid white;
}

.tooltip[data-placement="bottom"] .tooltip__box {
  @apply top-8;
  transform: translateX(-50%);
  margin-left:50%;
}

.tooltip[data-placement="bottom"] .tooltip__box::before {
  content: "";
  position: absolute;
  transform: translate(7px, -6px);
  top: 0;
  right: 50%;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid white;

}

.tooltip[data-placement="left"] .tooltip__box {
  @apply -left-3 top-0 translate-x-[-100%]
}

.tooltip[data-placement="left"] .tooltip__box::before {
  content: "";
  position: absolute;
  transform: translateY(4px);
  right: -6px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid white;
}


.tooltip__container {
  @apply relative inline-block text-black;
}

/* .tooltip__container:has(.tooltip__container__slot:hover) .tooltip__box {
  @apply z-20 opacity-100
} */

.tooltip__container .tooltip__container__slot:hover + .tooltip__box {
  @apply z-20 opacity-100
}

.show {
  @apply block
}

.hide {
  @apply hidden
}
