._btn-common {
  @apply inline-flex cursor-pointer items-center justify-center whitespace-nowrap text-lg font-medium focus:outline-none focus:ring-0 focus:ring-offset-0;
}

.btn {
  @apply _btn-common w-auto rounded border-none bg-primary-600  px-1.5 py-1 text-white shadow-sm hover:bg-primary-700;
}

.btn-secondary {
  @apply _btn-common  hover:bg-indigo-300 rounded border-solid border-primary-500  bg-white px-1.5 py-0.5 text-primary-500 hover:border-transparent hover:text-primary-1000;
}

.btn-secondary-disabled {
  @apply border-gray-500 text-gray-500;
}

.btn-light {
  @apply hover:bg-indigo-100 bg-white  text-primary-600 hover:border-transparent;
}

.btn-danger {
  @apply rounded bg-danger-600 text-white hover:bg-danger-700 focus:ring-danger-500;
}

.btn-indigo {
  @apply bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 text-white;
}

.btn-success {
  @apply bg-success-600 text-white shadow-sm hover:bg-success-700 focus:ring-success-500;
}

.btn-warning {
  @apply bg-warning-400 text-white shadow-sm hover:bg-warning-500 focus:ring-warning-500;
}

.btn-gray {
  @apply _btn-common rounded bg-gray-600  px-1.5 py-0.5 text-white shadow-sm hover:bg-gray-700 focus:ring-gray-500;
}

.btn-white {
  @apply _btn-common rounded border border-gray-300 bg-white px-1.5 py-0.5 text-gray-700 shadow-sm hover:bg-gray-50;
}

.icon {
  @apply -ml-0.5 mr-2 h-4 w-4;
}

.btn-icon {
  @apply _btn-common h-9 w-12 rounded bg-primary-600 leading-4 shadow-sm hover:bg-primary-700;
}

.btn-icon-small {
  @apply h-8 w-11  rounded-md leading-4 shadow-sm;
}

.btn-icon-tiny {
  @apply h-8 w-11  rounded leading-4 shadow-sm;
}

.btn-icon-big {
  @apply btn-icon;
}

.btn-disabled {
  @apply opacity-50 hover:cursor-not-allowed;
}

.btn-big {
  @apply px-3 py-[8px] text-[16px] font-semibold leading-5;
}

.btn-small {
  @apply px-[10px] py-[6px] text-[16px] font-semibold leading-5;
}

.btn-icon-secondary {
  @apply hover:bg-indigo-400 rounded  border border-primary-500 bg-white text-primary-500 hover:text-primary-700;
}

.btn-icon-light {
  @apply _btn-common px-0.7  py-0.7   hover:bg-indigo-200 rounded-md border-none bg-white leading-4  text-primary-700 shadow-sm;
}

