/* #app{
    @apply font-body
} */

.hide-scroll {
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
}

.flex-center {
  @apply flex items-center justify-center;
}

.fixed-width {
  width: calc(100% - 288px);
}

.card {
  @apply rounded-md border p-3 shadow-md;
}

.card-sm {
  @apply w-full rounded-md p-2 shadow-lg;
}

html {
  @apply bg-white;
  font-family: 'Golos Text', sans-serif;
}

:root {
  --swiper-theme-color: white;
  --swiper-pagination-color: white;
}

/* var(--swiper-pagination-color,var(--swiper-theme-color)) */
