:root {
  --vp-c-brand: #8C82FC;
  --vp-c-brand-light: #8C82FC;
  --vp-button-brand-bg: #8C82FC;
  --vp-button-brand-border: #8C82FC;
  --vp-c-green-dark: #8C82FC;
  --vp-c-green-light: #8C82FC;
  --vp-c-green: #8C82FC;
}
